<div class="bg-light px-4 py-3 text-uppercase font-weight-bold">
    Thông tin đơn hàng
</div>
<div class="p-4">
    <p class="font-italic mb-4">Chưa chọn hình thức giao hàng</p>
    <ul class="list-unstyled mb-4" *ngIf="(basketTotal$ | async)">
        <li class="d-flex justify-content-between py-3 border-bottom">
            <strong class="text-muted">Phí đặt hàng</strong>
            <strong>{{(basketTotal$ | async).subtotal | currency: 'VND'}}</strong>
        </li>
        <li class="d-flex justify-content-between py-3 border-bottom">
            <strong class="text-muted">Phí giao hàng</strong>
            <strong>{{(basketTotal$ | async).shipping | currency: 'VND'}}</strong>
        </li>
        <li class="d-flex justify-content-between py-3 border-bottom">
            <strong class="text-muted">Tổng đơn hàng</strong>
            <strong>{{(basketTotal$ | async).total | currency: 'VND'}}</strong>
        </li>
    </ul>
</div>