.btn-group {
    width: 100%;        
}

.btn-gradient {
    text-transform: uppercase;
	background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

.btn {
    width: 50%
}